{% extends "layouts/default/default.twig" %}

{% block head %}
    <link rel="stylesheet" href="/templates/index/index.css">
{% endblock %}

{% block content %}
    <h1>Hello Word!</h1>
{% endblock %}